.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  >* { //direct children only
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}
